:root {
  /* Global Variables */
  --initScreenBG-color: #006d00ff;
  --headerBG-color: lightgray;
  --ui-color: rgba(131, 12, 12);
  --modalGW-color:rgb(255, 212, 42);
  --background-color: #000000;
  --board-color: rgb(15, 91, 30);
  --cardBG-color: #ffffff;
  --buttonBG-color: #000000;
  --buttonText-color: #ffffff;
  --dark-color: #000000;
  --light-color: #ffffff;
  --borders-color: lightgray;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* ----------------------- */

/* -------- HEADER ------- */

header {
  background-color: var(--headerBG-color);
}

#main_menu > ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: .5em;
}

#main_menu > ul > li{
  margin: 0 .5em;
}

#main_menu > ul > li > button {
  width: fit-content;
  font-size: .75em;
  font-weight: 700;
  color: var(--buttonText-color);
  background-color: var(--buttonBG-color);
  padding: .5em 1.5em;
  cursor: pointer;
}

/* ----------------------- */

/* -------- MAIN --------- */

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  overflow-x: hidden;
  font-size: 75px;
  background-color: var(--background-color);
}

/* ----- HOME SCREEN ----- */

#initScreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--initScreenBG-color);
}

#cards_animation_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#cards_animation_container > ul{
  position: relative;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#cards_animation_container > ul > li.card:nth-child(1){
  position: absolute;
  animation: initCardAnimation1 40s infinite, initCardAnimationRotation 8s infinite;
}

#cards_animation_container > ul > li.card:nth-child(2){
  position: absolute;
  animation: initCardAnimation2 20s infinite, initCardAnimationRotation 10s infinite;
}

#cards_animation_container > ul > li.card:nth-child(3){
  position: absolute;
  animation: initCardAnimation3 45s infinite, initCardAnimationRotation 10s infinite;
}

#cards_animation_container > ul > li.card:nth-child(4){
  position: absolute;
  animation: initCardAnimation4 30s infinite, initCardAnimationRotation 9s infinite;
}

#cards_animation_container > ul > li.card:nth-child(5){
  position: absolute;
  animation: initCardAnimation1 50s infinite, initCardAnimationRotation 10s infinite;
}

#cards_animation_container > ul > li.card:nth-child(6){
  position: absolute;
  animation: initCardAnimation2 35s infinite, initCardAnimationRotation 12s infinite;
}

#cards_animation_container > ul > li.card:nth-child(7){
  position: absolute;
  animation: initCardAnimation3 60s infinite, initCardAnimationRotation 14s infinite;
}

#cards_animation_container > ul > li.card:nth-child(8){
  position: absolute;
  animation: initCardAnimation4 40s infinite, initCardAnimationRotation 8s infinite;
}

@keyframes initCardAnimation1 {
  0% {left: -25%; top: -25%;}
  12% {left: 50%; top: 50%;}
  25% {left: 125%; top: -25%;}
  37% {left: 50%; top: 50%;}
  50% {left: 125%; top: 125%;}
  62% {left: 50%; top: 50%;}
  75% {left: -25%; top: 125%;}
  87% {left: 50%; top: 50%;}
  100% {left: -25%; top: -25%}
}

@keyframes initCardAnimation2 {
  0% {left: -25%; top: 50%;}
  25% {left: 50%; top: -25%;}
  50% {left: 125%; top: 50%;}
  75% {left: 50%; top: 125%;}
  100% {left: -25%; top: 50%;}
}

@keyframes initCardAnimation3 {
  0% {left: -25%; top: -25%;}
  14% {left: 25%; top: 125%;}
  25% {left: 50%; top: -25%;}
  36% {left: 75%; top: 125%;}
  50% {left: 125%; top: -25%;}
  64% {left: 75%; top: 125%;}
  75% {left: 50%; top: -25%;}
  86% {left: 25%; top: 125%;}
  100% {left: -25%; top: -25%;}
}

@keyframes initCardAnimation4 {
  0% {left: -25%; top: 125%;}
  14% {left: 25%; top: -25%;}
  25% {left: 50%; top: 125%;}
  36% {left: 75%; top: -25%;}
  50% {left: 125%; top: 125%;}
  64% {left: 75%; top: -25%;}
  75% {left: 50%; top: 125%;}
  86% {left: 25%; top: -25%;}
  100% {left: -25%; top: 125%;}
}

@keyframes initCardAnimationRotation {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}

#logo {
  width: 25%;
  height: auto;
  z-index: 999;
  margin-bottom: .5em;
}

#settingsContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  z-index: 999;
  background-color: var(--light-color);
  border: .05em solid var(--dark-color);
  border-radius: .5em;
  padding: .2em;
}

#settingsContainer > #settingsInput {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--borders-color);
  padding-bottom: .2em;
}

#settingsInput label {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  font-size: .2em;
  font-weight: 700;
}

#settingsInput input, #settingsInput select {
  font-size: 1em;
  font-weight: 700;
  padding: .2em;
}

#settingsContainer > #settingsStartGame {
  display: flex;
  justify-content: center;
  padding-top: .1em;
}

#settingsStartGame > button {
  width: 100%;
  font-size: .2em;
  font-weight: 700;
  color: var(--buttonText-color);
  background-color: var(--buttonBG-color);
  padding: .5em;
  cursor: pointer;
}

/* ----------------------- */

/* ----- GAME SCREEN ----- */

#scene {
  position: relative;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 4em);
}

.game-title {
  position: absolute;
  top: -5em;
  left: -2.5em;
  width: 10em;
  height: 5em;
}

.game-title > h1 {
  width: 100%;
  color: var(--light-color);
  margin: 0;
}

#table, #board {
  position: absolute;
  top: 1em;
  transform: 
    translate(-50%, -50%)
    rotateX(90deg);
  transform-style: preserve-3d;
}

#table {
  width: 20em;
  height: 25em;
  background-image: url("./src/images/woodTexture.jpeg");
}

#board {
  width: 15em;
  height: 20em;
  background-image: 
    radial-gradient(#0000, var(--dark-color) 90%),
    repeating-conic-gradient(from 45deg, var(--board-color) 0deg 90deg, var(--board-color) 90deg 180deg);
  background-size: 100%, 1em 1em;
}

.deck {
  position: absolute;
  transform: translateZ(-3em) translate(5em, -50%) rotateX(-90deg) scaleX(-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

#deck {
  cursor: pointer;
}

#deck.disabled {
  opacity: 55%;
  cursor: auto;
  pointer-events: none;
}

.cardsOfOpponent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  transform-style: preserve-3d;
}

.cardsOfOpponent.left_player {
  transform: translateZ(-3em) translate(5em) rotateX(-90deg) rotateZ(-90deg) scaleX(-1);
}

.cardsOfOpponent.right_player {
  transform: translateZ(-3em) translateX(-5em) rotateX(-90deg) rotateZ(90deg) scaleX(-1);
}

.cardsOfOpponent.front_player {
  transform: translateZ(-3em) translate(-50%, -50%) rotateX(-90deg) scaleX(-1);
}


#user_board {
  position: absolute;
  transform: 
    translateZ(.75em)
    translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
  height: 2em;
  z-index: 999;
}

#user_comands {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 75%;
  background-color: var(--ui-color);
  border-top: 1px solid var(--borders-color);
  border-radius: .5em .5em 0 0;
  padding: .25em;
}

#user_comands > div{
  display: flex;
  width: 33.3%;
  padding: 0 .2em;
}

#user_comands button{
  width: 100%;
  padding: .5em;
  font-size: .2em;
  font-weight: 700;
  color: var(--light-color);
  background-color: var(--dark-color);
  cursor: pointer;
}

#user_comands button:disabled {
  opacity: 55%;
  cursor: auto;
}

#user_comands > #askCard_container {
  justify-content: space-between;
}

#user_comands > #askCard_container > button{
  flex-basis: 50%;
  height: 100%;
  max-width: 45%;
}

#user_comands > div:not(#askCard_container){
  border-left: 1px solid var(--borders-color);
}

#user_comands > #stand_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: .5em;
}

#user_comands > #stand_container > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user_comands > #stand_container > div > .background-points {
  position: absolute;
  top: -2.5em;
  transform: rotate(45deg);
  width: 2em;
  height: 2em;
  color: var(--light-color);
  font-size: .5em;
  background-color: var(--ui-color);
  border-radius: 50% 0 50% 0;
  border-top: 1px solid var(--borders-color);
  padding: .2em .5em;
}

#user_comands > #stand_container > div > #user_points {
  position: absolute;
  top: -2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75em;
  height: 1.75em;
  color: var(--light-color);
  font-size: .5em;
  background-color: #000;
  border-top: 1px solid var(--borders-color);
  border-radius: 50%;
  padding: .2em .5em;
}

#user_comands > #stand_container > div > #user_name {
  position: absolute;
  top: -6.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  color: var(--light-color);
  font-size: .25em;
}

#user_comands > #stand_container > div > span{
  font-size: .2em;
}

#user_comands > #bet_container {
  display: flex;
  justify-content: space-between;
}

#user_comands > #bet_container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  max-width: 50%;
}

#user_comands > #bet_container > div:first-child {
  padding: 0 .5em;
}

#user_comands > #bet_container > div > label{
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: end;
  font-size: .2em;
  font-weight: 600;
  color: var(--light-color);
}

#user_comands > #bet_container > div > label > input{
  text-align: center;
  width: 3em;
  margin-left: .25em;
  padding: .5em .2em;
}

input#current_bet {
  text-align: end;
  padding: .5em .2em;
}

#user_comands > #bet_container button {
  min-width: fit-content;
}

.deck ul {
  position: relative;
  list-style: none;
  margin: .5em;
  padding: 0;
}

.deck .tooltip-text {
  position: absolute;
  transform: rotateX(90deg) scaleX(-1);
  z-index: 999;
  width: 5em;
  visibility: hidden;
  color: var(--light-color);
  font-size: .25em;
  text-align: center;
  background-color: var(--ui-color);
  border-radius: 6px;
  padding: 0 .5em; 
}

.tooltip:hover .tooltip-text {
  visibility:  visible;
}

.deck ul li{
  position: absolute;
  border-radius: 5%;
  background-color: var(--light-color);
  padding: .4rem .5rem;
}

.deck ul li div{
  height: 11.95rem;
  width: 7.2rem;
  background-color: var(--light-color);
  border-radius: 5%;
}

.deck ul li img{
  width: 100%;
  height: auto;
}

.deck ul li:last-child{
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
}

#user_board ul, .cardsOfOpponent ul{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 1.5rem;
  padding: 0;
}

#user_board .card {
  cursor: pointer;
}

.card {
  height: 13.15rem;
  width: 8.5rem;
  perspective: 1000px;
  background-color: transparent;
  border-radius: 5%;
  margin: 0 .5rem;
  user-select: none;
}

.card.selected .front, .card.selected .back {
  outline: var(--ui-color) auto 1px;
}

.card > div:not(.hidden) {
  position: relative;
  height: 11.95rem;
  width: 7.2rem;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card > .hidden {
  position: absolute;
  padding: .4rem .5rem;
  border-radius: 5%;
  background-color: var(--cardBG-color);
}

.card > .hidden > div {
  height: 11.95rem;
  width: 7.2rem;
  background-color: var(--cardBG-color);
  border-radius: 5%;
}

.card > .hidden > div > img{
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

.card > div > .front, .card > div > .back {
  position: absolute;
  backface-visibility: hidden;
  background-color: var(--cardBG-color);
  border-radius: 5%;
  padding: .4rem .5rem;
}

.card > div > .front > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 11.95rem;
  width: 7.2rem;
  outline: 1px solid var(--dark-color);
  padding: .2rem .5rem;
}

.card > div:not(.flipped) > .back, .card > .flipped > .front {
  transform: rotateY(180deg);
}  

.card > div > .back > div{
  height: 11.95rem;
  width: 7.2rem;
  background-color: var(--cardBG-color);
  border-radius: 5%;
}  

.card > div > .back > div > img{
  width: 100%;
  height: 100%;
}  

#user_board > ul > .card:not(.visible):hover > div:not(.hidden) {
  transform: rotateY(-180deg);
}

/* ----------------------- */

/* --- BORDER OF CARDS --- */

.card > div > .front[suit="espases"] > div::before, .card > div > .front[suit="espases"] > div::after , .card > div > .front[suit="espases"] > div > div::before, .card > div > .front[suit="espases"] > div > div::after{
  content: "";
  position: absolute;
  height: 3px;
  width: calc(100%/5);
  background-color: var(--cardBG-color);
}

.card > div > .front[suit="espases"] > div::before {
  top: -2px;
  left: calc(100%/5);
}

.card > div > .front[suit="espases"] > div::after {
  top: -2px;
  left: calc(3*(100%/5));
}

.card > div > .front[suit="espases"] > div > div::before {
  bottom: -2px;
  left: calc(100%/5);
}

.card > div > .front[suit="espases"] > div > div::after {
  bottom: -2px;
  left: calc(3*(100%/5));
}

.card > div > .front[suit="bastos"] > div::before, .card > div > .front[suit="bastos"] > div::after, .card > div > .front[suit="bastos"] > div > .card-content::before, .card > div > .front[suit="bastos"] > div > .card-content::after, .card > div > .front[suit="bastos"] > div > .card-border:before, .card > div > .front[suit="bastos"] > div > .card-border:after{
  content: "";
  position: absolute;
  height: 3px;
  width: calc(100%/7);
  background-color: var(--cardBG-color);
}

.card > div > .front[suit="bastos"] > div::before {
  top: -2px;
  left: calc(100%/7);
}

.card > div > .front[suit="bastos"] > div::after {
  top: -2px;
  left: calc(3*(100%/7));
}

.card > div > .front[suit="bastos"] > div > .card-content::before {
  top: -2px;
  left: calc(5*(100%/7));
}

.card > div > .front[suit="bastos"] > div > .card-content::after {
  bottom: -2px;
  left: calc(100%/7);
}

.card > div > .front[suit="bastos"] > div > .card-border::before {
  bottom: -2px;
  left: calc(3*(100%/7));
}

.card > div > .front[suit="bastos"] > div > .card-border::after {
  bottom: -2px;
  left: calc(5*(100%/7));
}

.card > div > .front[suit="copes"] > div::before, .card > div > .front[suit="copes"] > div::after{
  content: "";
  position: absolute;
  height: 3px;
  width: calc(100%/3);
  background-color: var(--cardBG-color);
}

.card > div > .front[suit="copes"] > div::before {
  top: -2px;
  left: calc(100%/3);
}

.card > div > .front[suit="copes"] > div::after {
  bottom: -2px;
  left: calc(100%/3);
}

/* ----------------------- */

/* ---- CARD  CONTENT ---- */

.card > div > .front > div > .card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card > div > .front > div > span {
  position: absolute;
  font-size: .25em;
}

.card > div > .front > div > span:nth-child(1), .card > div > .front[suit="bastos"] > div > span:nth-child(2) {
  top: 0;
  left: 2px;
}

.card > div > .front > div > span:nth-child(3), .card > div > .front[suit="bastos"] > div > span:nth-child(4) {
  bottom: 0;
  right: 2px;
  transform: rotate(180deg);
}

.card-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 11.95rem;
  width: 7.2rem;
}

.card-content > div > img {
  height: auto;
  width: 100%;
  margin: 0 0.1rem;
}

/* ----- 2, 3 ESPASES & 2, 3 BASTOS ----- */

.card-content > div[suit="espases"][number="2"] > img, .card-content > div[suit="bastos"][number="2"] > img {
  height: auto;
  width: calc(50% - 0.2rem);
}

.card-content > div[suit="bastos"] > img:nth-child(2n), .card-content > div[suit="espases"][number="2"] > img:nth-child(2n), .card-content > div[suit="espases"][number="3"] > img:nth-child(2n) {
  transform: rotate(180deg);
}

.card-content > div[suit="oros"][number="2"] > img, .card-content > div[suit="copes"][number="2"] > img {
  height: 40%;
  width: auto;
}

.card-content > div[number="3"] > img {
  height: auto;
  width: calc(33.3% - 0.2rem);
}
  
/* -------------------------------------- */
  
/* --------------- 3 OROS --------------- */

.card-content > div[suit="oros"][number="3"] {
  position: relative;
  justify-content: flex-start;
}

.card-content > div[suit="oros"][number="3"] > img {
  position: absolute;
  height: auto;
  width: calc(65% - 0.2rem);
}

.card-content > div[suit="oros"][number="3"] > img:nth-child(1) {
  top: 5%;
  left: 0;
}

.card-content > div[suit="oros"][number="3"] > img:nth-child(2) {
  top: 35%;
  right: 0;
}

.card-content > div[suit="oros"][number="3"] > img:nth-child(3) {
  bottom: 5%;
  left: 0;
}

/* -------------------------------------- */
  
/* --------------- 3 COPES -------------- */

.card-content > div[suit="copes"][number="3"] {
  position: relative;
  justify-content: flex-start;
}

.card-content > div[suit="copes"][number="3"] > img {
  position: absolute;
  height: 33.3%;
  width: auto;
}

.card-content > div[suit="copes"][number="3"] > img:nth-child(1) {
  top: 2%;
  left: 0;
}

.card-content > div[suit="copes"][number="3"] > img:nth-child(2) {
  top: calc(102%/3);
  right: 0;
}

.card-content > div[suit="copes"][number="3"] > img:nth-child(3) {
  bottom: 2%;
  left: 0;
}

/* -------------------------------------- */
  
/* ---------- 4 OROS & 4 COPES ---------- */

.card-content > div[suit="oros"][number="4"], .card-content > div[suit="copes"][number="4"] {
  position: relative;
  justify-content: space-between;
  align-content: space-between;
  padding: .25rem 0;
}

.card-content > div[suit="oros"][number="4"]::before {
  content: "MAS REYNALS";
  position: absolute;
  top: 35%;
  width: 100%;
  font-size: .75rem;
  text-align: center;
  color: red;
}

.card-content > div[suit="oros"][number="4"]::after {
  content: "VARITEMAS S.L.";
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: .5rem;
  text-align: center;
  color: black;
}

.card-content > div[suit="copes"][number="4"]::before {
  content: "NAIPE";
  position: absolute;
  top: 42.5%;
  width: 100%;
  font-size: .5rem;
  text-align: center;
  color: rgba(105, 186, 192, 0.859);
}

.card-content > div[suit="copes"][number="4"]::after {
  content: "OPACO MARFIL";
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: .5rem;
  text-align: center;
  color: rgba(105, 186, 192, 0.859);
}

.card-content > div[suit="oros"][number="4"] > img, .card-content > div[suit="copes"][number="4"] > img  {
  height: auto;
  width: calc(50% - 0.2rem);
}

/* -------------------------------------- */
  
/* -------------- 4 ESPASES ------------- */

.card-content > div[suit="espases"][number="4"] {
  justify-content: space-evenly;
  align-content: center;
}

.card-content > div[suit="espases"][number="4"] > img {
  height: auto;
  width: calc(33.5% - 0.2rem);
}

.card-content > div[suit="espases"][number="4"] > img:nth-child(1) {
  transform: rotate(155deg);
}

.card-content > div[suit="espases"][number="4"] > img:nth-child(2) {
  transform: rotate(205deg);
}

.card-content > div[suit="espases"][number="4"] > img:nth-child(3) {
  transform: rotate(25deg);
}

.card-content > div[suit="espases"][number="4"] > img:nth-child(4) {
  transform: rotate(-25deg);
}

/* -------------------------------------- */
  
/* -------------- 4 BASTOS -------------- */

.card-content > div[suit="bastos"][number="4"] {
  position: relative;
  justify-content: space-around;
  align-content: center;
}

.card-content > div[suit="bastos"][number="4"] > img {
  height: auto;
  width: calc(34% - 0.2rem);
}

.card-content > div[suit="bastos"][number="4"] > img:nth-child(1) {
  transform: rotate(-30deg);
}

.card-content > div[suit="bastos"][number="4"] > img:nth-child(2) {
  transform: rotate(30deg);
}

.card-content > div[suit="bastos"][number="4"] > img:nth-child(3) {
  transform: rotate(210deg);
}

.card-content > div[suit="bastos"][number="4"] > img:nth-child(4) {
  transform: rotate(150deg);
}

/* -------------------------------------- */
  
/* -------------- 5 OROS ---------------- */

.card-content > div[suit="oros"][number="5"] > img {
  height: auto;
  width: calc(50% - 0.2rem);
}

.card-content > div[suit="oros"][number="5"] > img:nth-child(3) {
  flex: 1;
  height: auto;
  width: calc(80% - 0.2rem);
}

/* -------------------------------------- */
  
/* -------------- 5 COPES --------------- */

.card-content > div[suit="copes"][number="5"] > img {
  height: auto;
  width: calc(50% - 0.2rem);
}

.card-content > div[suit="copes"][number="5"] > img:nth-child(3) {
  flex-basis: 100%;
  margin: 0 2rem;
}

/* -------------------------------------- */
  
/* -------------- 5 BASTOS -------------- */

.card-content > div[suit="bastos"][number="5"] {
  position: relative;
  justify-content: space-around;
  align-content: space-between;
}

.card-content > div[suit="bastos"][number="5"] > img {
  height: auto;
  width: calc(33.5% - 0.2rem);
}

.card-content > div[suit="bastos"][number="5"] > img:nth-child(1) {
  transform: rotate(210deg);
}

.card-content > div[suit="bastos"][number="5"] > img:nth-child(2) {
  transform: rotate(150deg);
}

.card-content > div[suit="bastos"][number="5"] > img:nth-child(3) {
  position: absolute;
  left: calc(50% - ((35%)/2));
  transform: rotate(-90deg);
}

.card-content > div[suit="bastos"][number="5"] > img:nth-child(4) {
  transform: rotate(-30deg);
}

.card-content > div[suit="bastos"][number="5"] > img:nth-child(5) {
  transform: rotate(30deg);
}

/* -------------------------------------- */
  
/* -------------- 5 ESPASES ------------- */

.card-content > div[suit="espases"][number="5"] {
  position: relative;
}

.card-content > div[suit="espases"][number="5"] > img {
  position: absolute;
  height: 40%;
  width: auto;
  transform: rotate(180deg);
}

.card-content > div[suit="espases"][number="5"] > img:nth-child(1) {
  top: 2%;
  left: 0;
}

.card-content > div[suit="espases"][number="5"] > img:nth-child(2) {
  top: 2%;
  right: 0;
}

.card-content > div[suit="espases"][number="5"] > img:nth-child(3) {
  left: calc(50% - ((35%)/2));
  transform: rotate(90deg);
}

.card-content > div[suit="espases"][number="5"] > img:nth-child(4) {
  bottom: 2%;
  left: 0;
  transform: rotate(0deg);
}

.card-content > div[suit="espases"][number="5"] > img:nth-child(5) {
  bottom: 2%;
  right: 0;
  transform: rotate(0deg);
}

/* -------------------------------------- */
  
/* ---------- 6 OROS & 6 COPES ---------- */

.card-content > div[suit="oros"][number="6"] > img, .card-content > div[suit="copes"][number="6"] > img {
  height: auto;
  width: calc(45% - 0.2rem);
}

/* -------------------------------------- */
  
/* ----- 6, 8 BASTOS & 6, 8 ESPASES ----- */

.card-content > div[suit="bastos"][number="6"] > img, .card-content > div[suit="espases"][number="6"] > img {
  height: auto;
  width: calc(30% - 0.2rem);;
}

.card-content > div[suit="espases"][number="6"] > img, .card-content > div[suit="espases"][number="8"] > img {
  transform: rotate(180deg);
}

.card-content > div[suit="espases"][number="6"] > img:nth-child(n+4), .card-content > div[suit="espases"][number="8"] > img:nth-child(n+5) {
  transform: rotate(0deg);
}

.card-content > div[suit="bastos"][number="8"] > img, .card-content > div[suit="espases"][number="8"] > img {
  height: auto;
  width: calc(25% - 0.2rem);
}

/* -------------------------------------- */
  
/* --------------- 7 OROS --------------- */

.card-content > div[suit="oros"][number="7"] > img {
  position: absolute;
  height: auto;
  width: calc(42% - 0.2rem);
}

.card-content > div[suit="oros"][number="7"] > img:nth-child(1) {
  top: 5%;
  left: 5%;
}

.card-content > div[suit="oros"][number="7"] > img:nth-child(2) {
  top: 5%;
  right: 5%;
}

.card-content > div[suit="oros"][number="7"] > img:nth-child(3) {
  top: 25%;
  left: calc(50% - (40%)/2);
}

.card-content > div[suit="oros"][number="7"] > img:nth-child(4) {
  top: 47.5%;
  right: 5%;
}

.card-content > div[suit="oros"][number="7"] > img:nth-child(5) {
  top: 47.5%;
  left: 5%;
}

.card-content > div[suit="oros"][number="7"] > img:nth-child(6) {
  bottom: 5%;
  left: 5%;
}

.card-content > div[suit="oros"][number="7"] > img:nth-child(7) {
  bottom: 5%;
  right: 5%;
}

/* -------------------------------------- */
  
/* --------------- 7 COPES -------------- */

.card-content > div[suit="copes"][number="7"] > img {
  position: absolute;
  height: auto;
  width: calc(33.3% - 0.2rem);
}

.card-content > div[suit="copes"][number="7"] > img:nth-child(1) {
  top: 5%;
  left: 5%;
}

.card-content > div[suit="copes"][number="7"] > img:nth-child(2) {
  top: 5%;
  right: 5%;
}

.card-content > div[suit="copes"][number="7"] > img:nth-child(3) {
  left: 5%;
}

.card-content > div[suit="copes"][number="7"] > img:nth-child(4) {
  right: 5%;
}

.card-content > div[suit="copes"][number="7"] > img:nth-child(5) {
  top: 20%;
  left: calc(50% - (33.3%)/2);
}

.card-content > div[suit="copes"][number="7"] > img:nth-child(6) {
  bottom: 5%;
  left: 5%;
}

.card-content > div[suit="copes"][number="7"] > img:nth-child(7) {
  bottom: 5%;
  right: 5%;
}

/* -------------------------------------- */
  
/* ------------- 7 ESPASES -------------- */

.card-content > div[suit="espases"][number="7"] {
  position: relative;
  justify-content: space-around;
  align-content: space-between;
  padding: .2rem 0;
}

.card-content > div[suit="espases"][number="7"] > img {
  height: auto;
  width: calc(28% - .2rem);
  transform: rotate(180deg);

}

.card-content > div[suit="espases"][number="7"] > img:nth-child(4) {
  position: absolute;
  left: calc(50% - (30%)/2);
  transform: rotate(90deg);
}

.card-content > div[suit="espases"][number="7"] > img:nth-child(n+5) {
  transform: rotate(0deg);
}

/* -------------------------------------- */
  
/* -------------- 7 BASTOS -------------- */

.card-content > div[suit="bastos"][number="7"] {
  position: relative;
  justify-content: space-around;
  align-content: space-between;
  padding: .2rem 0;
}

.card-content > div[suit="bastos"][number="7"] > img {
  height: auto;
  width: calc(33.3% - .2rem);
}

.card-content > div[suit="bastos"][number="7"] > img:nth-child(4) {
  position: absolute;
  left: calc(50% - (33.3%)/2);
  transform: rotate(-90deg);
}

/* -------------------------------------- */
  
/* --------------- 8 OROS --------------- */

.card-content > div[suit="oros"][number="8"] > img {
  height: auto;
  width: calc(45% - 0.2rem);
}

/* -------------------------------------- */
  
/* -------------- 8 COPES --------------- */

.card-content > div[suit="copes"][number="8"] > img {
  position: absolute;
  height: auto;
  width: calc(33.3% - 0.2rem);
}

.card-content > div[suit="copes"][number="8"] > img:nth-child(1) {
  top: 6%;
  left: 6%;
}

.card-content > div[suit="copes"][number="8"] > img:nth-child(2) {
  top: 6%;
  right: 6%;
}

.card-content > div[suit="copes"][number="8"] > img:nth-child(3) {
  left: 6%;
}

.card-content > div[suit="copes"][number="8"] > img:nth-child(4) {
  right: 6%;
}

.card-content > div[suit="copes"][number="8"] > img:nth-child(5) {
  top: 20%;
  left: calc(50% - (33.3%)/2);
}

.card-content > div[suit="copes"][number="8"] > img:nth-child(6) {
  bottom: 6%;
  left: 6%;
}

.card-content > div[suit="copes"][number="8"] > img:nth-child(7) {
  bottom: 6%;
  right: 6%;
}

.card-content > div[suit="copes"][number="8"] > img:nth-child(8) {
  top: 50%;
  left: calc(50% - (33.3%)/2);
}

/* -------------------------------------- */
  
/* -------------- 9 OROS ---------------- */

.card-content > div[suit="oros"][number="9"] {
  position: relative;
  justify-content: space-between;
}

.card-content > div[suit="oros"][number="9"] > img {
  height: auto;
  width: calc(40% - .2rem);
}

.card-content > div[suit="oros"][number="9"] > img:nth-child(5) {
  position: absolute;
  left: 30%;
}

/* -------------------------------------- */
  
/* -------------- 9 COPES --------------- */

.card-content > div[suit="copes"][number="9"] > img {
  height: auto;
  width: calc(33.3% - 0.2rem);
}

/* -------------------------------------- */
  
/* ------------- 9 ESPASES -------------- */

.card-content > div[suit="espases"][number="9"] {
  position: relative;
  justify-content: space-around;
}

.card-content > div[suit="espases"][number="9"] > img {
  height: auto;
  width: calc(25% - .2rem);
  transform: rotate(180deg);

}

.card-content > div[suit="espases"][number="9"] > img:nth-child(5) {
  position: absolute;
  left: 37.5%;
  transform: rotate(-90deg);
}

.card-content > div[suit="espases"][number="9"] > img:nth-child(n+6) {
  transform: rotate(0deg);
}

/* -------------------------------------- */
  
/* -------------- 9 BASTOS -------------- */

.card-content > div[suit="bastos"][number="9"] {
  position: relative;
  justify-content: space-around;
}

.card-content > div[suit="bastos"][number="9"] > img {
  height: auto;
  width: calc(25% - .2rem);
}

.card-content > div[suit="bastos"][number="9"] > img:nth-child(5) {
  position: absolute;
  left: calc(50% - (25%)/2);
  transform: rotate(90deg);
}

/* -------------------------------------- */

/* ----------------------- */

/* --- MODAL GAME/HELP --- */

#modalGame, #modalHelp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  width: 30%;
  background-color: var(--ui-color);
  border: 1px solid var(--borders-color);
  border-radius: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 20% auto;
}

#modalHelp .modal-content{
  width: 75%;
  margin: 10% auto;
}

.modal-content.game-winner {
  background-color: var(--modalGW-color);
}

.modal-content.game-winner .modal-header {
  color: var(--dark-color);
}

.modal-header, .modal-body{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--borders-color);
}

.modal-header{
  position: relative;
  justify-content: center;
  font-size: .5em;
  font-weight: 600;
  color: var(--light-color);
  padding: 0.25em .5em;
}

.modal-header > span{
  text-align: center;
}

.modal-header > button {
  position: absolute;
  top: .25em;
  right: 1em;
  color: var(--light-color);
  font-size: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-content > .modal-body{
  font-size: .3em;
  background-color: var(--light-color);
  margin: 0;
  padding: 0 1em;
}

#modalHelp > .modal-content > .modal-body{
  padding: 1em 2em;
}

#modalHelp > .modal-content > .modal-body > h3{
  border-bottom: 1px solid var(--borders-color);
  margin-bottom: 0;
}

#modalHelp > .modal-content > .modal-body > b{
  margin: 1.5em 0 .5em 1em;
}

#modalHelp > .modal-content > .modal-body > p{
  margin: .5em 0;
}

.modal-content > .modal-body > p{
  text-align: justify;
}

.modal-footer{
  display: flex;
  justify-content: space-around;
  padding: .2em;
}

.modal-footer > button{
  width: fit-content;
  font-size: .2em;
  font-weight: 700;
  color: var(--buttonText-color);
  background-color: var(--buttonBG-color);
  padding: .5em 1.5em;
  cursor: pointer;
}

/* ---------------------------- */

.hide-content {
  display: none;
}

/* ---------- MOBILE ---------- */

@media only screen and (max-width: 1024px) {
  #logo {
    width: 65%;
  }

  #settingsContainer {
    width: 70%;
  }

  main {
    font-size: 50px;
  }

  #scene {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: none;
  }

  #scene > .game-title, .cardsOfOpponent {
    display: none;
  }

  #table {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
  }

  #board {
    top: 0.25em;
    left: 0.25em;
    width: calc(100% - .5em);
    height: calc(100% -1.25em);
    transform: none;
  }

  #user_board {
    top: calc(50% - 3.25em);
    left: .25em;
    width: calc(100% - .5em);
    transform: none;
  }

  .deck {
    right: 2.75em;
    transform: none;
  }

  #user_comands {
    width: 100%;
  }

  #askCard_container {
    flex-direction: column;
  }

  #user_comands > #askCard_container > button {
    max-width: 100%;
    margin: .25em 0;
  }

  #user_comands > #stand_container > div > #user_name {
    top: -5em;
    font-size: .5em;
  }

  #user_comands > #stand_container > div > .background-points {
    top: -3.35em;
  }

  #user_comands > #stand_container > div > #user_points {
    top: -3em;
  }

  #user_comands > #stand_container > button {
    height: 50%;
  }

  #user_comands > #bet_container {
    flex-direction: column;
  }

  #user_comands > #bet_container > div:first-child {
    padding: 0;
  }

  #user_comands > #bet_container > div {
    max-width: none;
    padding: .1em 0;
  }

  #user_comands > #bet_container > div:first-child {
    flex-direction: row;
  }


  #modalGame .modal-content, #modalHelp .modal-content {
    width: 75%;
    font-size: 50px;
    border-radius: .5em;
  }
}

/* ---------------------------- */

/* ---------- TABLET ---------- */

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  #logo {
    width: 40%;
  }

  #settingsContainer {
    width: 60%;
  }
}

/* ---------------------------- */