*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* HEADER */

header {
  background-color: lightgray;
}

#main_menu > ul{
  margin: 0;
  padding: .5em;
  list-style: none;
}

#main_menu > ul button {
  width: fit-content;
  font-size: .75em;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  padding: .5em 1.5em;
  cursor: pointer;
}

/* ----------------------- */

/* MAIN */

main{
  background-color: #000;
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

/* HOME SCREEN */

#initScreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #006d00ff;
}

#logo {
  width: 25%;
  height: auto;
  margin-bottom: .2em;
}

#settingsContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: .05em solid #000000;
  border-radius: .5em;
  width: 40%;
  padding: .2em;
}

#settingsContainer > #settingsInput {
  display: flex;
  justify-content: space-between;
  padding-bottom: .2em;
  border-bottom: 1px solid lightgray;
}

#settingsInput label {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  font-size: .2em;
  font-weight: 700;
}

#settingsInput input, #settingsInput select {
  font-size: 1em;
  font-weight: 700;
  padding: .2em;
}

#settingsContainer > #settingsStartGame {
  display: flex;
  justify-content: center;
  padding-top: .1em;
}

#settingsStartGame > button {
  width: 100%;
  font-size: .2em;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  padding: .5em;
  cursor: pointer;
}

/* ----------------------- */

/* GAME SCREEN */

#scene {
  position: relative;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 4em);
}

.game-title {
  position: absolute;
  top: -5em;
  left: -2.5em;
  width: 10em;
  height: 5em;
}

.game-title > h1 {
  width: 100%;
  color: #ffffff;
  margin: 0;
}

#table {
  position: absolute;
  top: 1em;
  transform: 
    translate(-50%, -50%)
    rotateX(90deg);
  width: 20em;
  height: 25em;
  background-image: url("./src/images/Free\ Wood\ Texture\ And\ Patterns\ »\ CSS\ Author.jpeg");
  transform-style: preserve-3d;
}

#board {
  position: absolute;
  top: 1em;
  transform: 
    translate(-50%, -50%)
    rotateX(90deg);
  width: 15em;
  height: 20em;
  background-image: 
    radial-gradient(#0000, #000 90%),
    repeating-conic-gradient(from 45deg, rgb(15, 91, 30) 0deg 90deg, rgb(15, 91, 30) 90deg 180deg);
  background-size: 100%, 1em 1em;
  transform-style: preserve-3d;
}

.deck {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-3em) translate(5em, -50%) rotateX(-90deg) scaleX(-1);
}

#deck {
  cursor: pointer;
}

#deck.disabled {
  opacity: 55%;
  cursor: auto;
  pointer-events: none;
}

.cardsOfOpponent {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  transform-style: preserve-3d;
}

.cardsOfOpponent.left_player {
  transform: translateZ(-3em) translate(5em) rotateX(-90deg) rotateZ(-90deg) scaleX(-1);
}

.cardsOfOpponent.right_player {
  transform: translateZ(-3em) translateX(-5em) rotateX(-90deg) rotateZ(90deg) scaleX(-1);
}

.cardsOfOpponent.front_player {
  transform: translateZ(-3em) translate(-50%, -50%) rotateX(-90deg) scaleX(-1);
}


#user_board {
  position: absolute;
  transform: 
    translateZ(.75em)
    translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
  height: 2em;
  z-index: 999;
}

#user_comands {
  position: fixed;
  width: 75%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background-color: rgba(131, 12, 12);
  border-top: 1px solid lightgray;
  padding: .25em;
  border-radius: .5em .5em 0 0;
}

#user_comands > div{
  display: flex;
  width: 33.3%;
  padding: 0 .2em;
}

#user_comands button:disabled {
  opacity: 55%;
  cursor: auto;
}

#user_comands button{
  width: 100%;
  padding: .5em;
  font-size: .2em;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

#user_comands > #askCard_container {
  display: flex;
  justify-content: space-between;
}

#user_comands > #askCard_container > button{
  flex-basis: 50%;
  height: 100%;
  max-width: 45%;
}

#user_comands > div:not(#askCard_container){
  border-left: 1px solid lightgray;
}

#user_comands > #stand_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: .5em;
}

#user_comands > #stand_container > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user_comands > #stand_container > div > .background-points {
  position: absolute;
  top: -2.5em;
  width: 2em;
  height: 2em;
  background-color:rgba(131, 12, 12);
  border-radius: 50% 0 50% 0;
  transform: rotate(45deg);
  color: #ffffff;
  font-size: .5em;
  padding: .2em .5em;
  border-top: 1px solid #ffffff90;
}

#user_comands > #stand_container > div > #user_points {
  position: absolute;
  width: 1.75em;
  height: 1.75em;
  top: -2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  color: #ffffff;
  font-size: .5em;
  padding: .2em .5em;
  border-top: 1px solid #ffffff90;
}

#user_comands > #stand_container > div > #user_name {
  position: absolute;
  width: 10em;
  top: -6.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: .25em;
}

#user_comands > #stand_container > div > span{
  font-size: .2em;
}

#user_comands > #bet_container {
  display: flex;
  justify-content: space-between;
}

#user_comands > #bet_container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#user_comands > #bet_container > div:first-child {
  flex-basis: 60%;
  max-width: 60%;
}

#user_comands > #bet_container > div:last-child {
  padding: 0 .2em;
  flex-basis: 40%;
  max-width: 40%;
}

#user_comands > #bet_container > div > label{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: .2em;
  font-weight: 600;
  color: #ffffff;
}

#user_comands > #bet_container > div > label > input{
  text-align: center;
  width: 2.5em;
  margin-left: .25em;
  padding: .5em .2em;
}

input#current_bet {
  text-align: end;
  padding: .5em .2em;
}

#user_comands > #bet_container button {
  max-width: 100%;
}

.deck ul {
  position: relative;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.deck ul li{
  position: absolute;
  padding: .4rem .5rem;
  border-radius: 5%;
  background-color: #ffffff;
}

.deck ul li div{
  height: 11.95rem;
  width: 7.2rem;
  background-color: #ffffff;
  border-radius: 5%;
}

.deck ul li img{
  width: 100%;
  height: auto;
}

.deck ul li:last-child{
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
}

#user_board ul, .cardsOfOpponent ul{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
  margin: 20px;
  padding: 0;
}


#user_board .card {
  cursor: pointer;
}

.card {
  background-color: transparent;
  height: 13.15rem;
  width: 8.5rem;
  margin: 0 .5rem;
  border-radius: 5%;
  perspective: 1000px;
  user-select: none;
}

.card.selected .front, .card.selected .back {
  outline: rgba(131, 12, 12) auto 1px;
}

.card > div:not(.hidden) {
  position: relative;
  height: 11.95rem;
  width: 7.2rem;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card > .hidden {
  position: absolute;
  padding: .4rem .5rem;
  border-radius: 5%;
  background-color: #ffffff;
}

.card > .hidden > div {
  height: 11.95rem;
  width: 7.2rem;
  background-color: #ffffff;
  border-radius: 5%;
}

.card > .hidden > div > img{
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

/*
.card:hover {
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
  transform: translate(-1px, -6px);
  transition: transform .2s ease;
  will-change: transform;
  user-select: none;
  cursor: pointer;
}*/

.card > div > .front, .card > div > .back {
  position: absolute;
  backface-visibility: hidden;
  padding: .4rem .5rem;
  border-radius: 5%;
  background-color: #ffffff;
}

.card > div > .front > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 11.95rem;
  width: 7.2rem;
  padding: .2rem .5rem;
  outline: 1px solid #111111;
}

.card > div:not(.flipped) > .back {
  transform: rotateY(180deg);
} 

.card > .flipped > .front {
  transform: rotateY(180deg);
}  

.card > div > .back > div{
  height: 11.95rem;
  width: 7.2rem;
  background-color: #ffffff;
  border-radius: 5%;
}  

.card > div > .back > div > img{
  width: 100%;
  height: 100%;
}  

#user_board > ul > .card:not(.visible):hover > div:not(.hidden) {
  transform: rotateY(-180deg);
}


/* ------------ BORDER OF CARDS ------------ */

.card > div > .front[suit="espases"] > div::before, .card > div > .front[suit="espases"] > div::after , .card > div > .front[suit="espases"] > div > div::before, .card > div > .front[suit="espases"] > div > div::after{
  content: "";
  position: absolute;
  height: 3px;
  width: calc(100%/5);
  background-color: #ffffff;
}

.card > div > .front[suit="espases"] > div::before {
  top: -2px;
  left: calc(100%/5);
}

.card > div > .front[suit="espases"] > div::after {
  top: -2px;
  left: calc(3*(100%/5));
}

.card > div > .front[suit="espases"] > div > div::before {
  bottom: -2px;
  left: calc(100%/5);
}

.card > div > .front[suit="espases"] > div > div::after {
  bottom: -2px;
  left: calc(3*(100%/5));
}

.card > div > .front[suit="bastos"] > div::before, .card > div > .front[suit="bastos"] > div::after, .card > div > .front[suit="bastos"] > div > .card-content::before, .card > div > .front[suit="bastos"] > div > .card-content::after, .card > div > .front[suit="bastos"] > div > .card-border:before, .card > div > .front[suit="bastos"] > div > .card-border:after{
  content: "";
  position: absolute;
  height: 3px;
  width: calc(100%/7);
  background-color: #ffffff;
}

.card > div > .front[suit="bastos"] > div::before {
  top: -2px;
  left: calc(100%/7);
}

.card > div > .front[suit="bastos"] > div::after {
  top: -2px;
  left: calc(3*(100%/7));
}

.card > div > .front[suit="bastos"] > div > .card-content::before {
  top: -2px;
  left: calc(5*(100%/7));
}

.card > div > .front[suit="bastos"] > div > .card-content::after {
  bottom: -2px;
  left: calc(100%/7);
}

.card > div > .front[suit="bastos"] > div > .card-border::before {
  bottom: -2px;
  left: calc(3*(100%/7));
}

.card > div > .front[suit="bastos"] > div > .card-border::after {
  bottom: -2px;
  left: calc(5*(100%/7));
}

.card > div > .front[suit="copes"] > div::before, .card > div > .front[suit="copes"] > div::after{
  content: "";
  position: absolute;
  height: 3px;
  width: calc(100%/3);
  background-color: #ffffff;
}

.card > div > .front[suit="copes"] > div::before {
  top: -2px;
  left: calc(100%/3);
}

.card > div > .front[suit="copes"] > div::after {
  bottom: -2px;
  left: calc(100%/3);
}

/* ------------ --------------- ------------ */

.card > div > .front > div > .card-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > div > .front > div > span {
  position: absolute;
  font-size: .25em;
}

.card > div > .front > div > span:nth-child(1), .card > div > .front[suit="bastos"] > div > span:nth-child(2) {
  top: 0;
  left: 2px;
}

.card > div > .front > div > span:nth-child(3), .card > div > .front[suit="bastos"] > div > span:nth-child(4) {
  bottom: 0;
  right: 2px;
  transform: rotate(180deg);
}

.card-content > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 12.75rem;
  width: 7.5rem;
}

.card-content > div > img {
  height: auto;
  width: 100%;
  margin: 0 0.1rem;
}


/* ------------ ------------ ------------ */


#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
  margin: 20% auto;
  width: 30%;
  background-color: rgba(131, 12, 12);
  border: 1px solid lightgray;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  border-radius: 5%;
}

.modal-header, .modal-body{
  display: flex;
  border-bottom: 2px solid lightgray;
}

.modal-header{
  justify-content: center;
  font-size: .5em;
  font-weight: 600;
  padding: 0.25em .5em;
  color: #ffffff;
}

.modal-header > span{
  text-align: center;
}

.modal-content > .modal-body{
  background-color: #ffffff;
  margin: 0;
  padding: 0 1em;
  font-size: .3em;
}

.modal-content > .modal-body > p{
  text-align: justify;
}

.modal-footer{
  display: flex;
  justify-content: center;
  padding: .2em;
}

.modal-footer > button{
  width: fit-content;
  font-size: .2em;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  padding: .5em 1.5em;
  cursor: pointer;
}


/* ---------------------------- */


.hide-content {
  display: none;
}